body{
    font-family: 'Montserrat', sans-serif;
    padding: 10px
}

.loginContainer{
    padding: 20px;
}

.small{
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: grey;
}